<div class="center hero-unit">
   	<h2>Start your coffee shop</h2>
	<h3>-- or join one of these fine establishments --</h3>
	<%= link_to image_tag("coffee_shop.jpg", alt: "Inside the CoffeeShop"), root_path %>
	<br /><br />
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>