<% provide(:title, 'About Us') %>
<h2>About Us</h2>
<p>In a coffee shop, you can talk leisurely with your friends, and our helpful baristas will record and catalog your conversations, so that you can read and contribute to them later.</p>
