<!DOCTYPE html>
<html>
	<head>
		<title>CoffeeShop | Home</title>
	</head>
	<body>
		<h1>Welcome to the coffee shop, come on in!</h1>
		<img src="http://static.flickr.com/3021/2353360842_53d54be119.jpg" />
	</body>
</html>


